body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #301a04;
}
.bg-body-nav {
  background-color: #f19236;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.me {
  font-size: 1.4rem;
  color: #301a04;
  padding-right: 0.3rem;
}
.mis-productos {
  font-size: 1.3rem;
  color: #301a04;
  padding-right: 8rem;
}
.nav-words {
  padding-left: 8rem;
}
